<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.device.bluetooth</key>
	<true/>
	<key>com.apple.security.scripting-targets</key>
	<dict>
		<key>com.apple.Mail</key>
		<array>
			<string>com.apple.Mail.compose</string>
		</array>
		<key>com.apple.iTunes</key>
		<array>
			<string>com.apple.iTunes.playback</string>
		</array>
		<key>com.spotify.client</key>
		<array>
			<string>com.spotify.client.playback</string>
		</array>
	</dict>
	<key>com.apple.security.temporary-exception.sbpl</key>
	<string>
            (begin
                (allow ipc-posix-sem))
        </string>
</dict>
</plist>
