<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlinkVersionDate</key>
	<string>October 8th, 2011</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Blink Pro</string>
	<key>CFBundleIconFile</key>
	<string>blink</string>
	<key>CFBundleIdentifier</key>
	<string>com.agprojects.Blink</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Blink Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sip URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>tel URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUbiquitousDisplaySet</key>
	<string>com.agprojects.Blink</string>
</dict>
</plist>
