<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlinkVersionDate</key>
	<string>March 8th, 2025</string>
	<key>BrandingFile</key>
	<string>branding-pro</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Blink Pro</string>
	<key>CFBundleIdentifier</key>
	<string>com.agprojects.Blink</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Blink Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sip URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>tel URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.3.0</string>
	<key>NSCameraUsageDescription</key>
	<string>Required for VoIP calls</string>
	<key>NSContactsUsageDescription</key>
	<string>Required for calling your contacts. No data is collected. Privacy policy available at http://icanblink.com/privacy</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Required for VoIP calls</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUbiquitousDisplaySet</key>
	<string>com.agprojects.Blink</string>
</dict>
</plist>
