<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlinkVersionDate</key>
	<string>20 de junio 2014</string>
	<key>BrandingFile</key>
	<string>branding-elquijote-appstore</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>El Quijote</string>
	<key>CFBundleIconFile</key>
	<string>ElQuijote</string>
	<key>CFBundleIdentifier</key>
	<string>org.aspery.elquijote</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>El Quijote</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sip URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>tel URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>14012</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUbiquitousDisplaySet</key>
	<string>org.aspery.elquijote</string>
</dict>
</plist>
