cython
dnspython
lxml
twisted
python-dateutil
greenlet
zope.interface
requests
gmpy2
wheel
pytz
certifi
cryptography
pgpy
# python3-application is NOT installed from here: 03-install-python-deps.sh runs
# 03b-install_python3-application.sh, which builds it from ~/work/python3-application.
